<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.5" />
        <title> Meteo Mapper</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./css/about.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    </head>
    <body>
        <header>
            <nav>
                <a href="index.html" class= "logoNav">
                    <img src="./media/earth.svg" alt="black and white globe logo"/>
                </a>
                <div class="topnav" id="myTopNav">
                    <a href="home.html">Home</a>
                    <a class="active" href="aboutUs.html">About Us</a>
                    <a href="index.html">Location Finder</a>
                    <a href="history.html">History</a>
                    <a href="sign_up.html">Sign Up</a>
                    <a href="login.html">Login</a>
                </div>
            </nav>
        </header>
        <main>
        <h1>Meteo Mapper</h1>
            <img src="./media/maps.png" alt="Digital Map"/>
        <h2>The Team</h2>

        <p class="description1">
           "The emphasis is on freshly prepared food using a range of locally based suppliers and producers, no fancy or complicated masterpieces – just great food from great ingredients. Our lunch & dinner menus are based on satisfying regional Italian specialities and change weekly allowing us to make the most of seasonal ingredients when they’re at their best."</p>
            <img src= >
            <img src= >
            <img src= >
            <img src= >
        </p>

         <h2>The idea</h2>
            <p class="description2"> This mapping web application idea cam about from ...
            </p>
            <img src= https://media-cdn.tripadvisor.com/media/photo-s/1c/0d/58/75/interior.jpg>

            </main>
            <footer>
                <div class="location">
                    <p>Bristol / London </p>
                </div>
                <div class="socialMedia">

                    <a href="https://www.instagram.com/cafe_rouge/" class="GitHub">
                        <img src="./media/github.svg" alt="github logo"/>
                    </a>

                    <a href="https://www.instagram.com/cafe_rouge/" class="GitHub">
                        <img src="./media/github.svg" alt="github logo"/>
                    </a>

                    <a href="https://www.instagram.com/cafe_rouge/" class="GitHub">
                        <img src="./media/github.svg" alt="github logo"/>
                    </a>

                </div>
                <div class="contactFaq">
                    <a href="FAQ.html" class="FAQ">
                       FAQ
                    </a>
                </div>
            </footer>
        </body>



</html>