<!DOCTYPE html>
<html>
    <head>
        <title>Meteo Mapper</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
        <script src="./js/app.js"></script>
    </head>
<body>
    <header>
        <nav>
            <a href="index.html" class= "logoNav">
                <img src="./media/earth.svg" alt="logo with red background and white text"/>
            </a>
            <div class="topnav" id="myTopNav">
              <a href="home.html">Home</a>
              <a class="active" href="aboutUs.html">About Us</a>
              <a href="index.html">Location Finder</a>
              <a href="history.html">History</a>
              <a href="sign_up.html">Sign Up</a>
              <a href="login.html">Login</a>
            </div>
        </nav>
    </header>
    <main class="homeMain">
        <h1 class="homeMain">Welcome!</h1>

        <div class="homeSectionThree">
            <div class="aboutUs">
<!--                <img src="./media/teagirls.jpg" alt="logo with red background and white text"/>-->
                <button type="button"> <a href="login.html">Login</a></button>
            </div>

            <div class="ourMaps">
                <img src="./media/maps.png" alt="logo with red background and white text"/>
                <button type="button"> <a href="index.html">Meteo Maps</a></button>
            </div>

            <div class="ourHistory">
<!--               <img src="./media/maps.png" alt="logo with red background and white text"/>-->
                <button type="button"> <a href="history.html">Our Beginnings</a></button>
            </div>
        </div>

    </main>
    <footer>
        <div class="address">
            <p>Bristol / London </p>
        </div>
        <div class="socialMedia">
            <a href="https://en-gb.facebook.com/caferouge.co.uk/" class="facebook">
                <img src="./media/facebook.png" alt="blue facebook logo"/>
            </a>

            <a href="https://www.instagram.com/cafe_rouge/" class="instagram">
                <img src="./media/instagram.png" alt="multicoloured instagram logo"/>
            </a>

            <a href="https://twitter.com/caferougetweet" class="instagram">
                <img src="./media/twitter.png" alt="blue twitter logo"/>
            </a>
        </div>
        <div class="contactFaq">
            <a href="FAQ.html" class="FAQ">
               FAQ
            </a>
        </div>
    </footer>
</body>
</html>